.green-button {
    -fx-background-color: #0da80d;
    -fx-text-fill: white;
    x-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
    -fx-cursor: hand
}

.green-button:hover {
    -fx-background-color: #0b4c0d;
    -fx-border-color: #2e7d32
}

.test-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.light-green-button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-radius: 20;
    -fx-padding: 10
}

.light-green-button:hover {
    -fx-background-color: #07700c;
    -fx-border-color: #2e7d32
}

.list-cell {
    -fx-font-size: 18px;
}